.cart-items {
  top: 50px;
  background-color: white;
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 15rem;
  overflow:  clip scroll;
}

.actions {
  display: flex;
  gap: 0.4rem;
  justify-content: end;
}

.button--alt {
  border: none;
  border-radius: 20px;
  padding: 0.8rem 2rem;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 0.8rem 2rem;
}

h2 {margin: 0}